@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000;
  color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
